<div class="container">
  <h2>Quote Form</h2>
  <form #quotesComponent="ngForm">
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" class="form-control" id="quote" required [(ngModel)]="quoteFromBrowser.quote" name="quote">
      TODO: remove this: {{quoteFromBrowser.quote}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author"
             [(ngModel)]="quoteFromBrowser.author" name="author">
      TODO: remove this: {{quoteFromBrowser.author}}
    </div>

    <button type="submit" (click)="addQuoteToList()" class="btn btn-success">Submit</button>

  </form>
</div>

<h2>Quotes</h2>
<ul class="quotes">
  <li *ngFor="let quote of quotesFromUser">
    <div>{{ quote.quote }}</div>
    <div>-{{ quote.author }}</div>
    <br/>
  </li>

  <li *ngFor="let quote of quotesFromMasterList">
    <div>{{ quote.quote }}</div>
    <div>-{{ quote.author }}</div>
    <br/>
  </li>
</ul>

